html, body {
  height: 100%;
}

#map-container {
  height: 100%;
  padding-top: 50px;
}
#map {
  height: 100%;
}

.preicon {
  margin-right: 0.5em;
}

.title {
  font-weight: bold;
}

.description {
  color: #999999;
}

.attention {
  z-index: 10002;
  position: absolute;
  bottom: 16px;
  width: 90%;
  margin: 0 5%;
}
